@model Streaming_Video_MVC.Models.Admin

@{
    ViewData["Title"] = "Index";
}

<h2>Login</h2>
<div style="width: 50%; margin-left:25%">
   <form method="post" action="" style="border:2px solid; box-shadow:2px 2px 3px black; width:100%; height:100%; padding:5px">
   
            <div style="text-align:center; ">
                      <img src="./img/login.png" />
                  </div>
    
           <div class="form-outline mb-4">    
                     <label class="form-label">Admin</label>
                @Html.TextBox("Name")
           </div>

              <!-- Password input -->
           <div class="form-outline mb-4"> 
                      <label class="form-label" name="password" for="form2Example2">Password</label>
                @Html.TextBox("Password")
           </div>
           <div style="text-align:end; ">
               <input type="submit" class="btn btn-primary"/>
           </div>
   </form>

</div>

